<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Food</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">

    <!-- Insert Your Form Below -->
    <form action="/food" method="POST">
      <label for="name">Your Name:</label><br>
      <input type="text" id="name" name="name"><br><br>
      <label for="favorite_food">Your Favorite Food:</label><br>
      <input type="text" id="favorite_food" name="favorite_food"><br><br>
      <input type="submit" value="Submit">
    </form> 

    <%# <form>
      <p>Your Name: <input type="text"></p>
      <p>Your Favorite Food: <input type="text"></p>
      <input type="submit">
    </form> %>
  </body>
</html>